body {
    background: transparent url('../img/wood.png') repeat;
}

.logo {
    color: #ffffff;
    font-style: italic;
    padding-left: 10px;
}

#main-nav {
    margin-top: 10px;
}

#content-wrapper, #complement {
    background-color: #FFF;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

#complement {
    margin-top: 20px;
}

#content {
    padding: 10px;
}

.content-img {
    border: 1px solid #dddddd;
}

#tags li {
    display: inline-block;
    font-size: 10px;
    border: 1px solid #DDDDDD;
    background-color: #EEEEEE;
    padding: 3px;
    border-radius: 5px;

}

#tags a {
    color: #114A1E;
}

.museum {
    font-size: 16px;
    text-align: right;

}

.museum:before {
    content: url(../img/raster/gray_dark/home_12x12.png);
}

#external {

    margin-top: 20px;

}

#contrib {
    margin-top: 20px;
}

#contrib li {
    background-color: #FFF;
    border-radius: 5px;
    margin-bottom: 20px;

}

.rating p, .rating {
    font-size: 24px;
    color: #114A1E;
    font-weight: bold;
    margin: 0;
}

.avatar {
    border: 1px solid #DDDDDD;
}

#comments .date {
    margin-bottom: 0;
    font-style: italic;
    font-size: 10px;

}

.comment-inside, .inside {
    margin: 10px;
}

#wikitags {
    background-color: #FFF;
    border-radius: 5px;
}

#wikitags .inside {
    margin: 10px;
}

#contrib aside {
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px

}

.item_map {
    border: 1px solid #dddddd;
}

#item-list .row {

    margin-bottom: 20px;

}

#item-list img {
    vertical-align: top;
    height: 200px;

}



.white {

    background-color: #FFF;
    border-radius: 5px;
    padding: 10px;

}

#pub {
    margin-top: 20px;
}

#pub img, #pub p {
    display: inline-block;
}

#pub p {
    width: 150px;
    font-size: 12px;
    vertical-align: top;
}
.museum_map{
    border: 1px solid #dddddd;
}
#opening, #others{
    margin-top: 20px;
}